* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    /* cursor: none; */
}

#cursor {
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    border: 2.4px solid white;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    /* z-index: 999; */
    mix-blend-mode: difference;
}

#loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #090908;
    padding: 12vh 10vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7vw;
    font-stretch: extra-expanded;
}

#line1-part1 {
    /* background-color: pink; */
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;
    /*-- we do this so that other line doesn't vibrate --*/
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes anime {
    0% {
        font-family: 'Plain light';
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: 'Plain light';
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;

    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;

    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;

    }

}

/* #0B0B0B*/
#main {
    position: relative;
    background-color: black;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    /* #151515; */
    z-index: 100;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3vw 4vw;
}

#nav-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* cursor: pointer; */
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.hero {
    background-color: transparent;
    width: 67%;
    height: fit-content;
    margin-left: 27%;
    /* overflow:; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

#hero1 ::before {
    font-style: italic;
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -22%;
    top: -28%;
}

.hero h1 {
    font-size: 7.25vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero:nth-child(2) {
    margin-top: 14vh;
}

/* .hero h2 {
    font-size: 7.3vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    transition: all ease;
} */

.hero #one,
.hero #two {
    border-bottom: 0.6vw solid #fff;
    padding-bottom: 0.6vw;
    transition: all ease;

}

.hero #mid {
    padding-bottom: 1.5vw;
}

.hero #one:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: transparent;
}

.hero #two:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: transparent;

}



#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(57, 36, 36);
    padding-top: 20vh;
    position: relative;
}

#video-container {
    background-color: #573dff;
    margin-top: 3vh;
    height: 67vh;
    width: 70vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

#video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 2vw;

}

/* #video-cursor i{
    color: white;
} */
#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(8, 156, 214);
    position: relative;
    padding: 15vh 2vw;
    margin-bottom: 20vh;
}

#page3 h1 {
    font-size: 6vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28%;
}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
}

#page3 .underline {
    margin-left: 28%;
}

#image-div-container {
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* flex-shrink: 0; */
}

.image-div {
    height: 40vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 1vw;
    margin-left: 1.5vw;
}

.image-div:nth-child(1) {
    height: 30vw;
    width: 24vw;

}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1 {
    margin-top: 48vh;
    height: 23vw;
    width: 23vw;
    z-index: 99999;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9vw;
}

.page3-circle1 svg {
    height: 32%;
}

.page3-circle2 {
    /* margin-top: 28vh; */

    height: 23vw;
    width: 23vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 13vw; */
}

.page3-circle2 svg {
    height: 32%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    border-radius: 50%;
    scale: 0;
}

.circle-in p {
    font-size: 0.95vw;
    color: black;
    width: 75%;
    font-weight: 500;
    transition: all ease 0.3s;
    scale: 0;
    /* opacity: 0; */
    transition-delay: 0.2s;
}

.page3-circle1:hover .circle-in {
    scale: 1;
    /* opacity: 1; */

}

.page3-circle1:hover p {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
    /* opacity: 1; */

}

.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    padding-top: 7vh;
}

#page4-content {
    width: 71vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content .underline {
    height: 2px;
    width: 80%;
    background-color: white;
    margin: 5vw 0;
}

#page4-content>p {
    font-size: 2.25vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
}

#page4-flex {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#page4-flex img {
    width: 48%;
    height: 100%;
    object-fit: cover;
}

#page4-flex p {
    font-size: 1vw;
    width: 25%;
    margin-left: 1.8vw;
    line-height: 1.5;
}

#page4-blue {
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw;
    position: relative;
    margin-top: -31vh;
    margin-left: 24vw;
}

.blue-div-element {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.1vw 0vw;
    border-bottom: 2px solid #ffffff79;
}

.blue-div-element h4 {
    font-size: 1.6vw;
    font-weight: 500;
}

.blue-div-element p {
    width: 45%;
    font-size: 1vw;
    padding-left: 1.3vw;
}




#page5 {
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(6, 67, 114); */
    padding: 5vw 0;
    position: relative;
}

.elem {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;

}

.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1.2px #fff;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    /* background-color: rgb(11, 168, 0); */
    margin-right: 13px;
    animation-name: animh;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes animh {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 18px));
    }
}

.elem2 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;

}

.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1.2px #fff;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    background-color: black;
    transform: translateX(calc(-100% - 17px));
    margin-left: 0px;
    /* margin-right: 5px; */
    animation-name: animh;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

.elem span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}



#footer {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding-left: 27vw;
    padding-right: 2vw;
}

#footer h1 {
    font-size: 7vw;
    height: 8vw;
    /* width: 60vw; */
    text-transform: uppercase;
    background-color: black;
    position: relative;
    /* margin-left: 28vw;  */
}

#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
    top: 7%;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3.5vw 0;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 11vw;
    padding-top: 4vw;
    margin-bottom: 1vw;
}

#footer-div h6 {
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box {
    width: 25%;
}

#footer-div h5 {
    font-size: 1.7vw;
    margin: 0.2vh 0;
    font-weight: 500;
}

#footer>h5 {
    font-weight: 500;
    font-size: 1.2vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

#flagg {
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#page3{
    z-index: 999;
    position: relative;
}